%h1= t(:listing_<%= plural_table_name %>).titlecase

%table.table
  %thead
    %tr
<% for attribute in attributes -%>
    %th t(:<%= attribute.name %>)
<% end -%>
  %tbody
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
      %tr
<% for attribute in attributes -%>
      %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
        %td= link_to t(:show), <%= singular_table_name %>
        %td= link_to t(:edit), edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
        %td= link_to t(:destroy), <%= singular_table_name %>, :method => :delete, :data => { :confirm => t(:are_you_sure).humanize }

%br

= link_to t(:new_<%= singular_table_name %>), new_<%= singular_table_name %>_path, class: "btn btn-default"
