%p#notice= notice

%dl.dl-horizontal
<% for attribute in attributes -%>
  %dt= t(:<%= attribute.name %>).titlecase
  %dd= @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

= link_to t(:edit), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "btn btn-default"
= link_to t(:back), <%= index_helper %>_path, class: "btn btn-default"
